*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --red: #f00000;
    --dark: #151d2d;
    --white: #ffffff;
    --light-gray: #f1f2f3;
}
body{
    background-color: var(--light-gray);
}
header{
    background-color: var(--red);
    width: 100%;
    height: 100px;
}
.height-100{
    height: 100%;
}

.container-lg{
    width: 70%;
    height:100%;

}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height:100vh;
}
footer{
    height:300px;
    background-color: var(--dark);
    border-top: solid var(--red) 3px;
}