*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --red: #f00000;
    --dark: #151d2d;
    --white: #ffffff;
    --light-gray: #f1f2f3;
}
body{
    background-color: var(--light-gray);
}

.header{
    width: 100%;
}
#main-header{
    background-color: var(--red);
    height: 75px;
}
#sponser-header{
    background-color: var(--dark);
    height: 45px;
}
#sponser-header > ul{
    display: flex;
    list-style: none;
}
#header-logo{
    height:80%;
}
.sponser {
    height: 100%;
    width: 100%;
    color: black;
}